.page-title{
    padding-top:15px;
    padding-bottom:30px;
}

.link-col{
    marginBottom:30px;
    justify-content: center;
    align-items: center;
}

.channel-card{
    text-align: center;
}

#container{
    min-height: 100vh;
}

