.title-container{
    padding-top: 275px;
    width:100%;
    display: table;
    align-items: center;
}

.login-container{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input{
    padding: 5px 10px;
    margin-bottom: 10px;
    border:  3px solid #949494;
    border-radius: 4px;
    background-color: #ededed;
}

h1 {
    color:white;
    text-align: center;
    vertical-align: middle;
    display:table-cell;
}

.link-container{
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-button{
    background-color: transparent;
    border:  2px solid #fff959;
}

#container{
    min-height: 100vh;
}
